html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #e2a619;
}

a, a:visited {
  color: red;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: #1b1b1b;
    color: white;
  }
}