.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.main {
  width: 70%;
  padding: 5rem 0;
  margin: 10px auto;
  font-size: 2rem;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

@media all and (max-width: 750px) {
  .main {
    width: 100%;
    margin: 10px auto;
  }
}