.container {
  max-width: 1000px;
  margin: 0 auto;
}

.main {
  width: 70%;
  padding: 5rem 0;
  margin: 10px auto;
  font-size: 1.5rem;
}

.title {
  display: flex;
  flex-direction: row;
  vertical-align: bottom;
  line-height: 1.15;
  font-size: 3rem;
  overflow: hidden;
}

.profile {
  padding: 67px 67px 0px 67px;
  pointer-events: none;
}

.profile img {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 150%; 
  margin: 0 0 0 -20%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; 
}

@media all and (max-width: 1000px) {
  .main {
    width: 90%;
    margin: 10px auto;
    overflow: hidden;
  }

  .title {
    font-size: 2rem;
  }

  .profile {
    padding: 50px 50px 0px 50px;
  }
}